header {
    /* Utilizando clamp para moficação de tamanha como implementação alternativa a @media*/
    --headerGap: clamp(8px, 1.2vw, 16px);
    --headerPaddingTop: clamp(12px, 2vh, 20px);
    --headerPaddingX: clamp(16px, 2.5vw, 32px);
    --headerImageWidth: clamp(36px, 3.5vw, 48px);
    --headerImageHeight: clamp(35px, 3.4vw, 47px);
    --headerTextFontSize: clamp(13px, 1.2vw, 16px);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--headerGap);
    padding-top: var(--headerPaddingTop);
    padding-left: var(--headerPaddingX);
    padding-right: var(--headerPaddingX);
    width: 100%;
    box-sizing: border-box;
}

.mobileOption{
    display: none;
}

@media(min-width: 768px) {
    .mobileOption {
        display: block;
    }
}

.headerImages {
    height: var(--headerImageHeight);
    width: var(--headerImageWidth);
    object-fit: contain;
    display: block;
}

.headertext,
.headerText {
    font-size: var(--headerTextFontSize);
    color: white;
}

.headerText.active,
.headertext.active {
    border-bottom: 2px solid white;
}

.profileImage {
    margin-left: auto;
}


