@import "../../DesingSystem/style.css";

main {
    display: flex;
    align-self: center;
    flex-direction: column;
}

.titleText {
    font-size: 48px;
    padding-bottom: 23px;
    margin-left: auto;
}

.informationSection {
    display: flex;
    flex-direction: column;
    padding-top: 115px;
    padding-bottom: 63px;
    align-self: flex-start;
}

.cardSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    align-items: center;
    gap: 48px;
    padding-bottom: 309px;
    align-self: flex-start;
}

article {
    background-color: #D9D9D9;
    display: flex;
    gap: 8px;
    border-radius: 10px;
    height: 176px;
}

a {
    color: #4da6ff;
    padding-top: 22px;
    text-decoration: underline;
    align-self: center;
}

div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

img{
    max-width: 175px;
    max-height: 175px;
    border-radius: 10px;
}

.cardText {
    color: black;
}

p{
    padding-bottom: 10px;
}

.cardButton{
    margin: 0px;
}