@import "../../DesingSystem/style.css";

main {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 100%;
    --gridTemplateColumnsCardSection: 1fr;
    --titleTextFontSize: 6vw;
    --titleTextPaddingTop: 2vh;
    --titleTextPaddingBottom: 2vh;
    --cardTextFontSize: 3.5vw;
    padding: 0 75px;
}

@media(min-width: 924px) {
    main{
        --gridTemplateColumnsCardSection: 1fr 1fr;
    }
}

h1{
    padding: 0px;
}

.titleText {
    font-size: 48px;
    padding-top: 23px;
    padding-bottom: 23px;
    margin-left: auto;
}

.informationSection {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.cardSection {
    display: grid;
    grid-template-columns: var(--gridTemplateColumnsCardSection);
    align-items: center;
    gap: 48px;
    padding-bottom: 309px;
    width: 100%;
}

article {
    background-color: var(--card-color);
    box-shadow: var(--card-shadow);
    display: flex;
    gap: 8px;
    border-radius: var(--corner-radius);
    min-height: 120px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-right: 35%;
}

article a {
    color: var(--text-color);
    padding-top: 22px;
    text-decoration: underline;
    align-self: center;
}

article div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1;
    min-width: 0;
}

article img{
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    height: 100%;
    border-radius: 0 var(--corner-radius) var(--corner-radius) 0;
    object-fit: cover;
}

.cardText {
    color: var(--text-color);
}

p{
    padding-bottom: 10px;
}

.cardButton{
    margin: 0px;
    width: 100%;
}