@import "../../DesingSystem/style.css";

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titleText {
    font-size: 64px;
    padding-bottom: 10px;
}

.informationSection {
    display: flex;
    flex-direction: column;
    padding-top: 115px;
    padding-bottom: 63px;
}

.navigationSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
    padding-bottom: 309px;
}

article {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

article a {
    color: #4da6ff;
    text-decoration: underline;
}